<div class="gallery-fix"></div><!-- Fix Gallery next/prev error on Android -->
<div class="sidebar-tap-close"></div><!-- Overlay for content to close Sidebar -->

<div class="header-fixed header-dark">
    <a href="" class="header-logo">SUKO<span>ULOU</span></a>
</div>

<div id="page-content" ng-controller="userCtrl">
    <div id="page-content-scroll">
		<!--Page de choix des classes -->
        <div class="cover-page cover-image" style="background-image:url(images/pictures/2.jpg);">
            <div class="cover-page-content" style="top: 25%;"><!--add boxed-layout to this to change the style-->
                <div class="pageapp-login" >
                    <h3 class="pageapp-login-text">{{ titre }}</h3>
                    <div class="spacer"></div>
                    <form method="post" name="registerForm"  ng-submit="classeUser()">
						<div id='universites'>
							<div class="user-item" ng-repeat="(key, item) in items | orderBy:'LIBELLE'">
								<h5 class="color-white">{{item.ABREVIATION}}</h5>
								<em>{{item.LIBELLE}}</em>
								<button class="user-item-icon-3 bg-green-dark scale-hover" ng-click="choiceUniv(item.ID_UNIVERSITE)" type="button">{{ _lang.follow }}</button>
							</div>
						</div>
						<div id='faculties'>
							<div class="user-item" ng-repeat="(key, item) in items | orderBy:'LIBELLE'">
								<h5 class="color-white">{{item.ABREVIATION}}</h5>
								<em>{{item.LIBELLE}}</em>
								<button type="button" class="user-item-icon-3 bg-green-dark scale-hover" ng-click="choiceFac(item.ID_FACULTE)">{{ _lang.follow }}</button>
							</div>
						</div>
						<div id='departments'>
							<div class="user-item" ng-repeat="(key, item) in items | orderBy:'LIBELLE'">
								<h5 class="color-white">{{item.ABREVIATION}}</h5>
								<em>{{item.LIBELLE}}</em>
								<button type="button" class="user-item-icon-3 bg-green-dark scale-hover" ng-click="choiceDep(item.ID_DEPARTEMENT)">{{ _lang.follow }}</button>
							</div>
						</div>
						<div id='classes'>
							<div class="user-item" ng-repeat="(key, item) in items | orderBy:'LIBELLE'">
								<h5 class="color-white">{{item.ABREVIATION}}</h5>
								<em>{{item.LIBELLE}}</em>
								<button type="button" class="user-item-icon-3 bg-green-dark scale-hover" ng-click="choiceCla(item.ID_CLASSE)">{{ _lang.follow }}</button>
							</div>
						</div>
                        <p><small class=" color-red-dark">{{ error }}</small></p>
                    </form>
                </div>
            </div>
            <div class="overlay"></div>
            <!--<div class="cover-buttons">
                <a class="cover-button-right" href="#">
                    Copyright &copy; 2016
                    <i class="space-left fa fa-code"></i>
                </a>
            </div>-->
        </div>
		
		<!--Page des animations de smartstudents -->
		<div class="coverpage-slider">
			<div class="swiper-wrapper">
				<div class="swiper-slide cover-slide cover-screen" style="background-image:url(images/slider/1.jpg);">
					<div class="cover-center">
						<i class="fa fa-group cover-icon-center cover-icon-round full-bottom"></i>
						<h3 class="center-text bold uppercase">{{ _lang.thank }}</h3>
						<p class="center-text">{{ _lang.thank_text }}</p>
						<a href="#home" class="button button-cover button-center">{{ _lang.login }}</a>
					</div>
					<div class="overlay"></div>
				</div>

				<div class="swiper-slide cover-slide cover-screen" style="background-image:url(images/slider/2.jpg);">
					<div class="cover-center">
						<i class="fa fa-calendar cover-icon-center cover-icon-round full-bottom"></i>
						<h3 class="center-text bold uppercase">{{ _lang.view_timetable }}</h3>
						<p class="center-text">{{ _lang.view_timetable_text }}</p>
						<a href="#home" class="button button-cover button-center">{{ _lang.login }}</a>
					</div>
					<div class="overlay"></div>
				</div>
				<div class="swiper-slide cover-slide cover-screen" style="background-image:url(images/slider/3.jpg);">
					<div class="cover-center">
						<i class="fa fa-comments cover-icon-center cover-icon-round full-bottom"></i>
						<h3 class="center-text bold uppercase">{{ _lang.stay_tuned }}</h3>
						<p class="center-text"> {{ _lang.stay_tuned_text }} </p>
						<a href="#home" class="button button-cover button-center">{{ _lang.stay_tuned }}</a>
					</div>
					<div class="overlay"></div>
				</div>
			</div>
		</div>
    </div>
	
    <a href="#" class="back-to-top-badge"><i class="fa fa-caret-up"></i> {{ _lang.back_top }}</a>
</div>
<style>
	p {
		line-height: 30px;
		margin-bottom: 0px;
		font-size: 14px;
	}
</style>
<script>
	$(document).ready(function () {
		$('.coverpage-slider').hide();
		$('#faculties').hide();
		$('#departments').hide();
		$('#classes').hide();
	});
</script>