<div class="has-cover" ng-controller="eventsCtrl">
    <div class="gallery-fix"></div><!-- Fix Gallery next/prev error on Android -->
    <div class="sidebar-tap-close"></div><!-- Overlay for content to close Sidebar -->

    <ng-include src="header_menu.url"></ng-include>
    <!--Material Menu Background. Must be under material menu items.-->
    <div class="material-menu-background material-menu-dark-background"></div>

    <div id="page-content">
        <div id="page-content-scroll"><!--Enables this element to be scrolled -->
            <div class="coverpage-slider coverpage-news half-bottom" style="background-image:url(images/pictures/1.jpg); background-size:cover">
                <div class="swiper-wrapper">
                    <div class="swiper-slide cover-slide cover-screen" ng-repeat="(key, item) in events | orderBy:'START_DATE'">
                        <div class="cover-news">
                            <h4>{{ item.TITRE }}</h4>
                            <h5>{{ item.START_DATE }}  <a href="#events/{{item.ID_ANNONCE}}">{{item.CHEMIN}}</a></h5>
                            <p class="half-bottom">
							{{item.RESUME}}
                            </p>
                            <a href="#events/{{item.ID_ANNONCE}}" class="button-more-cover">{{ _lang.read_more }}</a>
                            <a href="#events/{{item.ID_ANNONCE}}" class="button-share-cover show-share-bottom" style="font-size:40px;"><i class="color-white fa fa-sort"></i></a>
                        </div>
                        <div class="overlay overlay-news"></div>
                    </div>
                </div>
            </div>

            <div class="content" style="min-height:500px;">
                <div class="decoration"></div>
                <div class="heading-badge border-red-dark">
                    <h3 class="bg-red-dark">{{ _lang.recents_news }}</h3>
                </div>
                <div class="thumb-layout">
                    <div  ng-repeat="(key, item) in events | orderBy:'START_DATE'">
						<a href="#events/{{item.ID_ANNONCE}}">
							<strong>{{item.TITRE}}</strong>
							<em>{{item.RESUME}}</em>
						</a>
					</div>
                </div>
				<!-- <a href="" class="button button-orange button-fullscreen full-bottom"><i class="fa fa-recycle"></i> SEE MORE</a> -->
            </div>

			<ng-include src="footer.url"></ng-include>
            <div class="footer-clear disabled"></div>
        </div>
        <a href="#" class="back-to-top-badge"><i class="fa fa-caret-up"></i> {{ _lang.back_top }}</a>
    </div>
</div>

<script>
	$(document).ready(function () {
		$(".swiper-slide").height(($(window).height()));
	});
</script>
