<div class="gallery-fix"></div><!-- Fix Gallery next/prev error on Android -->
<div class="sidebar-tap-close"></div><!-- Overlay for content to close Sidebar -->

<div class="header-fixed header-dark">
    <a href="" class="header-logo">SMART<span>STUDENT</span></a>
</div>

<div id="page-content" ng-controller="userCtrl" data-ng-init="init()">
    <div id="page-content-scroll"><!--Enables this element to be scrolled -->
        <div class="cover-page cover-image" style="background-image:url(images/pictures/2.jpg);">
            <div class="cover-page-content">
                <div class="pageapp-login">
                    <div class="pageapp-login">
                        <a href="#" class="pageapp-login-logo"></a>
                        <h3 class="pageapp-login-text">LOGIN FORM </h3>
                        <div class="spacer"></div>
						<form method="post" name="registerForm"  ng-submit="loginUser()">
							<div class="cover-field">
								<i class="fa fa-user"></i>
								<input type="text" placeholder="Enter your email or matricule" required ng-model="login">
							</div>
							<div class="cover-field full-bottom">
								<i class="fa fa-lock"></i>
								<input type="password" placeholder="Enter your password" required ng-model="password">
							</div>
							<p><small class=" color-red-dark">{{ error }}</small></p>
							<button type="submit" class="pageapp-login-button button button-blue"> <i class="fa fa-arrow-right"></i> Login </a>
						</form>
                        <div class="decoration half-bottom"></div>
                        <a href="#register" class="pageapp-login-button button button-orange"> <i class="fa fa-group"></i>Create your account</a>
                    </div>
                </div>
            </div>
            <div class="overlay"></div>
            <!--<div class="cover-buttons">
                <a class="cover-button-right" href="">
                    Copyright &copy; 2016
                    <i class="space-left fa fa-code"></i>
                </a>
            </div>-->
        </div>
    </div>
</div>