<div class="has-cover">
    <div class="gallery-fix"></div><!-- Fix Gallery next/prev error on Android -->
    <div class="sidebar-tap-close"></div><!-- Overlay for content to close Sidebar -->

    <ng-include src="header_menu.url"></ng-include>

    <!--Material Menu Background. Must be under material menu items.-->
    <div class="material-menu-background material-menu-dark-background"></div>

    <div class="modal-menu-background modal-menu-dark-background"></div>
    
    <div id="page-content" ng-controller="userCtrl">
        <div id="page-content-scroll"><!--Enables this element to be scrolled -->        
            <div class="header-clear"></div>

            <div class="content-strip">
                <div class="strip-content">
                    <h4>{{ _lang.menu_setting }}</h4>
                    <p>{{ _lang.setting_text }}</p>
                    <i class="fa fa-cogs"></i>
                </div>
                <div class="overlay"></div>
                <img class="preload-image" data-original="images/pictures/3.jpg" alt="img">
            </div>
            <div class="content">
                <h4>{{ _lang.setting_class }}</h4>
                <div class="decoration"></div>
                <div class="one-half-responsive">
                    <div class="user-item">
                        <img class="user-item-image preload-image" data-original="images/pictures/1t.jpg" alt="img">
                        <h5>{{ classe.LIBELLE }}</h5>
                        <em>{{ classe.CHEMIN }}</em>
                    </div>  
                </div>
                <div class="decoration hide-if-responsive"></div>
                <div class="container switch-box" ng-init="showLanguage()">
                    <h4>{{ _lang.choose_lang }}</h4>
                    <a href="#" class="switch switch-1 switch-1-on" ng-click="switchLanguage()">
                        <em>{{ lang1 }}</em>
                        <span></span>
                        <em>{{ lang2 }}</em>
                    </a>
                    <em class="switch-box-subtitle" style="line-height: 20px;">
                        {{ language1 }}
                    </em>
                    <em class="switch-box-content" style="line-height: 20px;">
                        {{ language2 }}
                    </em>
                </div>
                <div class="decoration hide-if-responsive"></div>
                <div class="container">
                    <div class="one-third-responsive full-bottom">
                        <h5>{{ _lang.update_infos }}</h5>
                        <div class="icon-field">
                            <i class="fa fa-user"></i>
                            <input class="text-field green-field" type="text" ng-model="user.NOM" placeholder="{{ _lang.enter_nickname }}">
                        </div>
						<div class="icon-field">
                            <i class="fa fa-user"></i>
                            <input class="text-field green-field" type="text" ng-model="user.PRENOM" placeholder="{{ _lang.enter_first }}">
                        </div>
						<div class="icon-field">
                            <i class="fa fa-map-marker"></i>
                            <input class="text-field green-field" type="text" ng-model="user.ADRESSE" placeholder="{{ _lang.enter_adresse }}">
                        </div>
						<div class="icon-field">
                            <i class="fa fa-phone"></i>
                            <input class="text-field green-field" type="text" ng-model="user.PHONE" placeholder="{{ _lang.enter_phone }}">
                        </div>
						<div class="icon-field">
                            <i class="fa fa-envelope"></i>
                            <input class="text-field green-field" type="text" ng-model="user.EMAIL" placeholder="{{ _lang.enter_email }}">
                        </div>
                    </div> 
					<a ng-click="updateAccount()" class="button button-orange button-fullscreen full-bottom">{{ _lang.save_change }}</a>
                    <div class="decoration hide-if-responsive"></div>

                </div>
                
            </div>

            <ng-include src="footer.url"></ng-include>
            <div class="footer-clear disabled"></div>
        </div>
        <a href="#" class="back-to-top-badge"><i class="fa fa-caret-up"></i>{{ _lang.back_top }}</a>
    </div>
</div>