<div class="has-cover" ng-controller="timetableCtrl">
    <div class="gallery-fix"></div><!-- Fix Gallery next/prev error on Android -->
    <div class="sidebar-tap-close"></div><!-- Overlay for content to close Sidebar -->

	<ng-include src="header_menu.url"></ng-include>

    <!--Material Menu Background. Must be under material menu items.-->
    <div class="material-menu-background material-menu-dark-background"></div>
    
    <div id="page-content">
        <div id="page-content-scroll"><!--Enables this element to be scrolled -->        
            <div class="header-clear"></div>

            <div class="content-strip">
                <div class="strip-content">
                    <h4>{{ classe.LIBELLE }}</h4>
                    <p>See your class timetable</p>
                    <i class="fa fa-calendar"></i>
                </div>
                <div class="overlay"></div>
                <img class="preload-image" data-original="images/pictures/1.jpg" alt="img">
            </div>

            <div class="content">
                <div class="decoration"></div>
            </div>

            <div class="content-fullscreen"> 
				<adm-dtp ng-model='date' full-data='date_details' options='{calType: "gregorian", format: "DD/MM/YYYY"}' on-datechange="dateChanged()">
					<!-- attributes name are important, not tags name -->
					<button dtp-open style="width: 160px; height:45px; background-color: #2980b9; color: #FFFFFF;"><i class="fa fa-calendar"></i> Open calendar </button>
					<button dtp-close style="width: 30px; height:45px; background-color: #ff7f27; color: #FFFFFF; margin-left:-10px;"><i class="fa fa-close"></i></button>
					&nbsp;&nbsp;&nbsp;<input type='text' ng-model='date' dtp-input />
				</adm-dtp>
				<h5 style="margin-top:20px">List of subjects</h5>
                <div class="one-half-responsive last-column">      
                    <div class="calendar-hours">
						<p><small class=" color-red-dark">{{ error }}</small></p>
                        <a href="" class="calendar-hour calendar-hour-taken" ng-repeat="(key, item) in timetable | orderBy:'HEURE_DEBUT'">
                            <strong class="cal-from">{{item.HEURE_DEBUT}}</strong>
                            <strong class="cal-to">  {{item.HEURE_FIN}}</strong>
                            <h4>{{item.MATIERE}}</h4>
                            <em><i class="fa fa-user"></i>{{item.ENSEIGNANT}}</em>
                        </a>
                    </div>
                </div>
            </div>

            <div class="content">
                <div class="decoration"></div>
            </div>
			
            <ng-include src="footer.url"></ng-include>
            <div class="footer-clear disabled"></div>
        </div>
        <a href="#" class="back-to-top-badge"><i class="fa fa-caret-up"></i>Back to top</a>
    </div>
</div>