<div class="has-cover" ng-controller="timetableCtrl">
    <div class="gallery-fix"></div><!-- Fix Gallery next/prev error on Android -->
    <div class="sidebar-tap-close"></div><!-- Overlay for content to close Sidebar -->

	<ng-include src="header_menu.url"></ng-include>

    <!--Material Menu Background. Must be under material menu items.-->
    <div class="material-menu-background material-menu-dark-background"></div>
    
    <div id="page-content">
        <div id="page-content-scroll"><!--Enables this element to be scrolled -->        
            <div class="header-clear"></div>

            <div class="content-strip">
                <div class="strip-content">
                    <h4>Master 1 MIAGE</h4>
                    <p>See your class timetable</p>
                    <i class="fa fa-calendar"></i>
                </div>
                <div class="overlay"></div>
                <img class="preload-image" data-original="images/pictures/1.jpg" alt="img">
            </div>

            <div class="content">
                <div class="decoration"></div>
            </div>

            <div class="content-fullscreen"> 
				<adm-dtp ng-model='date' full-data='date_details' options='{calType: "gregorian", format: "DD/MM/YYYY"}'>
					<!-- attributes name are important, not tags name -->
					<button dtp-open class="reddit-color social-button" style="width: 160px;"><i class="fa fa-calendar"></i> Open calendar </button>
					<button dtp-close style="width: 30px; height:45px; background-color: #ff7f27; color: #FFFFFF; margin-left:-10px;"><i class="fa fa-close"></i></button>
					&nbsp;&nbsp;&nbsp;<input type='text' ng-model='date' dtp-input />
				</adm-dtp>
				<h5 style="margin-top:20px">List of subjects</h5>
                <div class="one-half-responsive last-column">      
                    <div class="calendar-hours">
                        <a href="" class="calendar-hour calendar-hour-taken">
                            <strong class="cal-from">08:00 AM</strong>
                            <strong class="cal-to">  11:00 AM</strong>
                            <h4>[MI001] Informatique</h4>
                            <em><i class="fa fa-user"></i>Prof Kenedy</em>
                        </a>                   
                        <a href="" class="calendar-hour calendar-hour-taken">
                            <strong class="cal-from">12:00 AM</strong>
                            <strong class="cal-to">  15:00 AM</strong>
                            <h4>[MI002] Logiciel</h4>
                            <em><i class="fa fa-user"></i>Prof test test</em>
                        </a>                                 
                        <a href="" class="calendar-hour calendar-hour-taken">
                            <strong class="cal-from">18:00 AM</strong>
                            <strong class="cal-to">  20:00 AM</strong>
                            <h4>[MI015] Maths</h4>
                            <em><i class="fa fa-user"></i>Dr Drake</em>
                        </a> 
                        <a href="" class="calendar-hour calendar-hour-taken">
                            <strong class="cal-from">20:00 AM</strong>
                            <strong class="cal-to">  22:00 AM</strong>
                            <h4>[MI020] Biologie</h4>
                            <em><i class="fa fa-user"></i>Prof Kenedy</em>
                        </a>  
                    </div>
                </div>
            </div>

            <div class="content">
                <div class="decoration"></div>
            </div>
			
            <ng-include src="footer.url"></ng-include>
            <div class="footer-clear disabled"></div>
        </div>
        <a href="#" class="back-to-top-badge"><i class="fa fa-caret-up"></i>Back to top</a>
    </div>
</div>